html {
    background: url("./background.jpg") bottom center;
    font-size: 10px;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  

.keys {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.key {
    flex: 1 1 0;
    width: 30rem;
    background: rgba(0,0,0,0.4);
    /* opacity: 0.5; */
    border: .4rem solid black;
    border-radius: 0.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .07s ease;
}

kbd {
    display: block;
    text-align: center;
    color: white;
    font-size: 4rem;
}

.sound {
    color: orange;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.playing {
    transform:scale(1.1);
    border: .4rem solid orange;
}